{% extends 'plantilla.html' %}

{% block body %}
<div class="row m-1">
    <div class="col-12">
        <h2 class="display-4 mt-5 mb-5 titulo">Vista de Consulta</h2>
        <a href="/" class="mx-3">Regresar al Formulario</a>

        <div class="table-responsive mt-4 ms-3" style="max-width: 100%;">
            <table class="table table-striped table-hover text-start align-middle w-auto">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Álbum</th>
                        <th>Artista</th>
                        <th>Año de Publicación</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ album.0 }}</td>
                        <td>{{ album.1 }}</td>
                        <td>{{ album.2 }}</td>
                        <td>{{ album.3 }}</td>
                        <td><a class="btn btn-warning btn-sm" href="/editar/{{ album.0 }}">Actualizar</a></td>
                        <td><a class="btn btn-danger btn-sm" href="/confirmar_eliminar/{{ album.0 }}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
